<!DOCTYPE html>
<html>
<head>
    <title>Payment Page</title>
</head>
<body>
    <form action="/process_payment" method="post">
        <label for="upi_id">UPI ID:</label><br>
        <input type="text" id="upi_id" name="upi_id"><br>
        <label for="bitcoin_address">Bitcoin Address:</label><br>
        <input type="text" id="bitcoin_address" name="bitcoin_address"><br>
        <label for="amount">Donation Amount:</label><br>
        <input type="number" id="amount" name="amount"><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Our Payment Options</h2>
    <p>Bitcoin Address: 1BoatSLRHtKNngkdXEeobR76b53LETtpy</p>
    <p>UPI ID: 987645911@paytm</p>
</body>
</html>
